.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(221, 221, 221, 0.8);
}

.popup {
  position: absolute;
  width: 660px;
  height: 334px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border: 1px solid #999999;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0.5rem;
}

.inputs input,
.contentTextArea {
  font-family: "Roboto";
  font-style: normal;
  width: 612px;
  background: #ffffff;
  border: 1px solid #777777;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 0.5rem;
}

.inputs input {
  height: 32px;
}
.contentTextArea {
  padding: 0.5rem;
}

.actions {
  margin-right: 12px;
  align-self: end;
}

.cancel {
  width: 120px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #999999;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.edit {
  width: 120px;
  height: 32px;
  background: #47b960;
  border-radius: 8px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-left: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .popup {
    width: 95%;
  }

  .inputs input,
  .contentTextArea {
    width: 95%;
  }
}
